# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/

.metadata/
.settings/
target/
.classpath
.project
.factorypath
/corba-hello-world/src/main/java/orb.db/counter
/corba-hello-world/src/main/java/orb.db/NC0
/corba-hello-world/src/main/java/orb.db/servers.db
/corba-hello-world/src/main/idl/orb.db/counter
/corba-hello-world/src/main/idl/orb.db/NC0
/corba-hello-world/src/main/idl/orb.db/servers.db
/demo/.mvn/
/orb.db/**
/corba-hello-world/src/main/orb.db/*
